.navbar {
    width: 100%;
    max-width: 1280px;   /* Cùng khung giới hạn với Top bar */
    margin: 0 auto;
    padding: 10px 34px 25px 34px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #111;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;
}

.navbar a.active,
.navbar a:hover {
    font-weight: 600;
    border-bottom: 3px solid #111;
}